


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e6ffcc;
    text-align: center;
    font-size:16px;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  .jumbotron{
    background-image: url("https://s7img.ftdi.com/is/image/ProvideCommerce/BD3D_LOL?$proflowers-tile-wide-sv-new$&qlt=80,0&resMode=trilin");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
     margin: 3.5rem 0rem;
  }
  img{
    width:3.75rem;
  }
  h1{
    font-size:6rem;
  }
  h2{
    padding:2rem;
  }
  
  .nav-item{
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .navbar-nav{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
  }
  .card{
       width:16rem; 
       margin:1rem;
    }
  
   .card-img-top{
       width:100%;
    }
  i{
    font-size:3.75rem;
    color:#336600;
    margin:0.75rem;
  }
  
  
  .btn{
    background-color:#336600;
    color:white;
  }
  footer{
    position: relative;
    background-color:#99ff33;
  }
  .d-flex{
    padding:3.5rem;
  }
  h3{
    padding:3.5rem;
  }
  #how-to-make-a-flower-bouquet {
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
  }
  
  #how-to-make-a-flower-bouquet > iframe {
    max-width: 35rem;
    width: 100%;
  }
  .dropbtn {
    text-decoration: none;
    color: #1a3300;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {text-decoration: none;}
  
  header{background-color: #4CAF50;color:white;}
  .row{
    margin-bottom: 1.5rem;
    
  }